
//   section contacts
.footer{
    padding-bottom: 100px;
    padding-top: 65px;
    h2{
        text-align: center;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #181a18;
        margin-bottom: 50px;
    }
}
.footer--contacts{
    margin-top: calc(50% - 150px);
    span{
        font-family: 'HelveticaNeueCyr-Medium';
        font-size: 14px;
        color: #336699;
        display: inline-block;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        color: #181a18;
    }
    span:nth-child(1){}
    .footer--contacts__address{
        span{
            font-size: 16px;
            margin-bottom: 5px;
        }
        p{
            line-height: 1.3rem;
        }
    }
    .footer--contacts__call{
        a{
            font-family: 'GothamPro-Medium';
            font-size: 20px;
            color: #181a18;
            display: block;
            margin-bottom: -5px;
            text-decoration: none;
            transition:  ease-out 0.3s;
            -webkit-transition: ease-out 0.3s;
            -moz-transition: ease-out 0.3s;
            -o-transition: ease-out 0.3s;
        }
        a:hover{
            color: #ff6633;
        }
        span{
            font-size: 12px;
            margin-bottom: 10px;

        }
    }
    .footer--contacts__mail{
        margin-bottom: 10px;
        a{
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            color: #181a18;
            text-decoration: none;
            margin-left: 5px;
            transition: ease-out 0.3s;
            -webkit-transition:  ease-out 0.3s;
            -moz-transition:  ease-out 0.3s;
            -o-transition:  ease-out 0.3s;
            margin-bottom: 30px;
        }
        a:hover{
            color: #ff6633;
        }
    }
    .footer--contacts__text{
        .footer--contacts__text--namesite{
            margin-bottom: 10px;
        }
        p{
            font-family: 'HelveticaNeueCyr-Roman';
            span{
                margin-right: 5px;
            }
        }
    }

}
.error{
    color: #ff001a;
}
#thanksModal{
    display: none;
    h3{
        font-family: 'GothamPro-Medium';
        font-size: 20px;
        color: #181a18;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 15px;
        color: #336699;
    }
}
