

.first-screen_image{
  // background: url(../../img/firstscreen.jpg) no-repeat center / cover;
  // width: 100%;
  // height: 480px;
  background-color: #fff;
  padding-top: 150px;
  // h1{
  //     color: #fff;
  // }
  span{
    font-size: 27px;
    font-weight: 500;
  }

}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  img{
    width: 100%;
    height: 100%;
  }
.portfolio_item{
}
.portfolio_item:hover{

      .portfolio_item--img{
        // transform: translateY(-220%);
        z-index: 3;
    }
    .portfolio_item--text{
      -webkit-transition: transform 0.5s ease-out;
      -moz-transition: transform 0.5s ease-out;
      -o-transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      transform: translateY(-100%);
      background: rgba(0, 0, 0, 0.72);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: calc(50% - 150px);
      text-align: center;
      top: 0;
      left: 0;
      z-index: 99999;
      height: 100%;
      width: 100%;
      color: #fff;
    }
}
  .portfolio_item--img{
    background: #ffc107;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all .3s ease;
  }
  .portfolio_item--text{
    // transform: translateY(-170%);
    position: relative;
    box-shadow: 5px 5px 12px 0 rgba(0,0,60,.1);
    z-index: -1;
    h3{

    }
    p{
      margin-bottom: 0px;
    }
    a{
      color: $zhovt;
      text-decoration: none;
    }
  }





  .portfolio_name1{
    width: 25%;
    height: 300px;
  }
  .portfolio_name2{
    width: 25%;
    height: 300px;
    background-color: rgb(192, 21, 35);
  }
  .portfolio_name3{
    width: 50%;
    height: 300px;
    background-color: rgb(49, 197, 86);
  }
  .portfolio_name4{
    width: 50%;
    height: 300px;
    background-color: rgb(129, 24, 129);
  }
  .portfolio_name5{
    width: 25%;
    height: 300px;
    background-color: rgb(36, 22, 223);
  }
  .portfolio_name6{
    width: 25%;
    height: 300px;
    background-color: rgb(66, 198, 207);
  }
}
.portfolio_more{
  margin: auto;
  padding: 50px 0px;
  a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: color top 1s ease-out .5s;
    -webkit-transition: top 1s ease-out .5s;
  }
  a:hover{
    color: #ffc107;
  }
}
#services{
  padding: 50px 0px;
  h2{
    text-align: center;
    margin: 40px 0px 15px;

  }
}
.services-block{
  display: flex;
  justify-content: space-around;
}
.services-block_item{
  h3{
    text-align: center;
  }
  h3::after{
    display: block;
    font-size: 10px;
    color: rgb(121, 120, 118);
  }
  p{
    font-size: 15px;
    color: #292825;
    text-align: center;
    margin: 10px 0 30px;
  }
  a{
    color: #000;
    padding: 8px 15px;
    background: $zhovt;
    text-align: center;
  }
  a:hover{
    text-decoration: none;
  }
}
.services-block_item-infopage{
  h3:after{
    content: "(Landing page)";

  }
}
.services-block_item-commercpage{
  h3:after{
    content: "(інтернет магазин або сайт будь якої комерційної діяльності)";

  }
}
.services-block_item-blogpage{
  h3:after{
    content: "(Блог на якому ви можете ділитись своїми думками, ідеями)";

  }
}