.develop-doc{
    background: url(../../img/devdoc.jpg) no-repeat top / cover;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 70px;
    h1{
    font-family: 'GothamPro-Black';
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    max-width: 540px;
    letter-spacing: -0.7px;
    span{
        color: #00ccff;
        font-size: 24px;
        font-family: 'GothamPro-Medium';
        display: block;
    }
    span::after{
        content: "";
        display: inline-block;
        background-color: #00ccff;
        width: 120px;
        height: 2px;
        margin-bottom: 10px;
    }
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 20px;
        color: #181a18;
        margin-bottom: 20px;
    }
}

.develop-doc__more{
    margin-top: 60px;

}
.more{
    span{
        color: #0cf;
        font-size: 12px;
        letter-spacing: .48px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
}
.develop-doc__books{
    position: relative;
    img{
        width: 100%;
    }
}
.develop-doc__books--circle{
    position: absolute;
    width: 95px;
    height: 95px;
    top: 120px;
    right: 210px;
    background-color: #f63;
    border-radius: 75px;
    z-index: 2;
    img{
        margin-top: 25px;
        margin-left: 30px;
        width: 44px;
        height: 44px;
    }
    span{
        color: #fff;
        position: absolute;
        font-family: 'HelveticaNeueCyr-Medium';
        top: 35px;
        left: 20px;
        font-size: 12px;
        line-height: 0.8rem;
    }
}
.develop-doc__books--circle::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: -13px;
    top: -13px;
    width: 120px;
    height: 120px;
    background-color: #ff6633;
    opacity: .3;
    border-radius: 90px; 
}
// color="#7d476e"

.develop-doc__books--circle:hover {
  animation: pulse 2s infinite;

}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #874773;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px #874773;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 #874773;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #874773;
    box-shadow: 0 0 0 0 #874773;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #874773;
      box-shadow: 0 0 0 10px #874773;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #874773;
      box-shadow: 0 0 0 0 #874773;
  }
}


.develop-doc__down{
    position: relative;
    span{
        position: absolute;
        transform: rotate(90deg);
        right: -56px;
        bottom: 5px;
        font-family: HelveticaNeueCyr-Medium;
        font-size: 10px;
    }
    span::after{
        content: "";
        width: 35px;
        height: 1px;
        margin-bottom: 2px;
        margin-left: 15px;
        background-color: #000;
        display: inline-block;
    }
}

// forwho section
.forwho{
    padding-top: 70px;
    padding-bottom: 80px;
    h2{
        text-align: center;
        font-size: 30px;
        font-family: 'GothamPro-Medium';
        margin-bottom: 55px;
    }
}
.forwho__block{
    background: url(../../img/icons/pattern.svg) no-repeat center / cover;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f7f7f7;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}
.forwho__block:hover{
    background-color: #336699;
    
    h3{
        color: #fff;
        span{
            color: #19334c;
        }
    }
}
.forwho__block--title{
    position: absolute;
    right: 40px;
    bottom: 15px;
    h3{
        text-align: right;
        font-size: 24px;
        font-family: 'GothamPro-Black';
        color: #000;
        span{
            display: block;
            font-size: 14px;
            font-family: 'HelveticaNeueCyr-Medium';
            color: #000;
            text-transform: uppercase;
        }
    }
}

// wehelp  section
.wehelp{
    background-color:#f7f7f7;
    padding-top: 70px;
    padding-bottom: 90px;
    h2{
        text-align: center;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #000;
    }
    p{
        text-align: center;
        font-size: 18px;
        font-family: 'HelveticaNeueCyr-Roman';
        margin-bottom: 40px;
    }
}
.wehelp .horizontal{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px;
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    li{
        float: left;
        text-align: center;
        a{
            color: #336699;
            font-size: 14px;
            font-family: 'GothamPro-Medium';
            text-decoration: none;
        }
        a:hover{
            color: #ff6633;
        }
    }
    li:focus{
        border-bottom:  2px solid #336699; 
    }
}
.wehelp .tabs{
    margin-bottom: 20px;
}
.wehelp .tab-item{
    display: inline-block;
    width: 47%;
    padding: 15px;
    img{
        width: 75px;
    }
    span{
        display: inline-block;
        width: 70%;
        margin-left: 30px;
        font-size: 14px;
        font-family: 'HelveticaNeueCyr-Medium';
        color: #000;
    }

}
.wehelp__more{
    display: flex;
    justify-content: flex-end;
}
.wehelp__more--item{
display: inline-block;
}


// whytrust  section
.whytrust{
    padding-bottom: 50px;
    padding-top: 75px;
    h2{
        text-align: center;
        margin-bottom: 65px;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        
    }
}

.whytrust-list{
    display: flex;
}
.whytrust-list__item{
    position: relative;
    margin-right: 30px;

    width: 25%;

        img{
            width: 68px;
            margin-bottom: 30px;
            margin-left: 10px;
        }

    .whytrust-list__item--title{
        color: #336699;
        font-size: 16px;
        font-family: 'GothamPro-Medium';
            margin-bottom: 10px;
    }
    p{
        color: #000;
        font-size: 14px;
        font-family: 'HelveticaNeueCyr-Roman';
    }

}
.whytrust-list__item--count{
    font-family: 'GothamPro-BoldItalic';
    font-size: 14px;
    color: #606660;
    position: absolute;
    top: 55px;
    left: 100px;
}

.whytrust-list__item--img::after{
    content: "";
    width: 62px;
    height: 62px;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 35px;
    z-index: -1;
}
.whytrust-list__item::after{
    content: "- - - - - - - - - - - - - - - - -";
    position: absolute;
    top: 20px;
    right: -15px;
    color: #e1f0e1;
    font-weight: 700;
}
.whytrust-list__item:last-child::after{
    display: none;
}
.laboratory{
    padding-top: 80px;
    padding-bottom: 25px;

    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}


// stages  section
.stages{
    background: url(../../img/car.jpg) no-repeat center / cover;
    color: #fff;
    h2{
        text-align: center;
        color: #fff;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        margin-bottom: 50px;
    }
    .horizontal{
    color: #fff;
    order: 2;
    list-style: none;
    padding: 0px;
    line-height: 2rem;
    width: 100%;
        li{
            font-family: 'GothamProRegular';
            font-size: 14px;
            
            a{
                color: #fff;
                text-decoration: none;
            }

            span{
                background-color: #369;
                display: inline-block;
                font-size: 12px;
                border-radius: 3px;
                padding: 0px 5px;
                margin-left: 45px;
            }
        }
        .active{
            border: 2px solid #606660;
            border-radius: 7px;
            position: relative;
            margin:10px;
            a{
                color: #03b4e0;
                padding-left: 15px;
                display: inline-block;
            }
            span{
                margin: 10px;
                display: block;
                text-align: center;
                color: #fff;
            }
            
        }
        .active::before{
            content: "";
            background-color: #606660;
            width: 10px;
            height: 2px;
            position: absolute;
            left: -20px;
            top: calc(60% - 5px);
        }
    }
    .tab-item{
        margin: 0 20px 0 35px;
    }
    .tabs{
        display: flex;
    }
    
}
.stages--bg{
    padding-bottom: 10px;
    padding-top: 70px;
    background-color: #030502;
    opacity: 0.8;
    
}
.stages__tabs--descr{
    color: #fff;
    span{
        font-size: 16px;
        display: block;
        font-family: 'GothamProRegular';
        margin-bottom: 15px;
    }
    p{
        font-size: 14px;
        font-family: 'HelveticaNeueCyr-Roman';
    }
}
.stages__tabs--img{
    background: url(../../img/mens.jpg) no-repeat top -75px right -150px / auto ;
    height: 200px;
    width: 200px;
    border-radius: 120px;
    position: relative;
    margin-bottom: 30px;

}
.stages__tabs--img__icon{
    position: absolute;
    bottom: -5px;
    right: -25px;
    width: 90px;
    height: 90px;
    background-color: #000;
    border-radius: 45px;
    text-align: center;
    img{
        padding-top: 20px;
        width: 50px;
    }
}

//   section underkey
.underkey{
    padding-top: 50px;
    padding-bottom: 80px;
    h2{
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #181a18;
        text-align: center;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 18px;
        color: #181a18;
        text-align: center;
    }
    img{
        overflow: hidden;
        margin-left: -45%;
        margin-top: -20px;
    }
    ul{
        list-style: none;
        padding-left: 0px;
        margin-top: 140px;
        li{
            padding-bottom: 10px;
            .underkey--number{

                margin-left: 20px;
                text-align: center;
                padding-top: 8px;
                border-radius: 75px;
                width: 50px;
                height: 50px;
                border: 1px solid #928f8f;
                background-color: #f7f7f7;
                color: #369;
                font-family: 'GothamProRegular';
                font-size: 20px;
                display: inline-block;
                position: relative;
                z-index: 2;
                vertical-align: top;
            }
            .underkey--number::before{
                content: "";
                width: 70px;
                height: 70px;
                background-color: #f7f7f7;
                display: inline-block;
                border-radius: 35px;
                z-index: -1;
                position: absolute;
                top: -11px;
                left: -12px;
                opacity: 0.9;
            }
            .underkey--descr{
                margin-left: 40px;
                display: inline-block;
                width: 65%;
                    span{
                        font-family: 'GothamPro-Medium';
                        font-size: 16px;
                        display: inline-block;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: 'HelveticaNeueCyr-Roman';
                        text-align: inherit;
                        font-size: 14px;
                    }
            }

        }
    }
}

//   section services
.services{
    // background: url(../../img/nature.png) no-repeat right 295px top 100px / auto;
    padding-bottom: 100px;
    padding-top: 65px;
    h2{
        text-align: center;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #181a18;
        margin-bottom: 50px;
    }
}
.form{
    background-color: #fff;
    box-shadow: 0 12px 60px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 50px;
    text-align: center;
    max-width: 370px;
    img{
        position: absolute;
        top: -80px;
        right: -15%;
        z-index: -1;
    }
    span{
        font-family: 'GothamPro-Medium';
        font-size: 20px;
        color: #181a18;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        color: #181a18;
    }
    input{
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 15px;
        border-radius: 27px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        margin-bottom: 10px;
    }
    input[type=tel]{
        margin-bottom: 25px;
    }
    input:focus{
        outline: none;
    }
    input::placeholder{
        color: #181a18;
        text-align: center;
        font-family: 'GothamProRegular';
        font-size: 14px;
        outline: none;
    }
    // input[type=text]{

    // }
    // input[type=mail]{

    // }
    // input[type=tel]{

    // }
    input[type=submit]{
        border-radius: 15px;
        cursor: pointer;
        width: 100%;
        max-width: 240px;
        display: inline-block;
        box-shadow: 0 8px 30px rgba(255, 112, 67, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        background-image: linear-gradient(to top, #ff6633 0%, #f59840 100%);
    }
    input[type=submit]:hover{
    color: #fff;
    background-color: #f59840;
    box-shadow: 0 8px 30px rgba(255, 112, 67, 0.3), inset 0 0px 0px rgba(0, 0, 0, 0);
    text-decoration: none;
    }
}
.services--text__item{
    margin-bottom: calc(30px + -4%);
}

.services--text{
    margin-top: 70px;

}
.services--text__item--img{
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 25px;
    img{
        width: 35px;
    }
}
.services--text__item--descr{
    display: inline-block;
    width: 75%;
    margin-left: 35px;
    font-weight: 400;
    line-height: 20px;
    span{
        font-family: 'GothamPro-Medium';
        font-size: 16px;
        color: #181a18;
        margin-bottom: 15px;
        display: inline-block;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        color: #181a18;
    }
}




//   section delivery

.delivery{
    padding-top: 120px;
    padding-bottom: 50px;
    h2{
        text-align: center;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
    }
    p{
        text-align: center;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 18px;
        color: #181a18;
    }
}
.delivery--letter{
    position: relative;
    margin-top: 30px;
    background: url(../../img/diplom3.jpg) no-repeat center;
    height: 460px;
}
.delivery--letter__open{
    position: absolute;
    top: 30px;
    right: 48px;
    left: 48px;
    bottom: 38px;
    background-color: #181a18;
    opacity: .9;
    color: #fff;
    text-align: center;
    img{
        width: 30px;
        height: 35px;
        margin-top: 57%;
        margin-bottom: 10px;  
    }
    span{
        margin-bottom: 90px;
        display: block;
        font-family: 'GothamProRegular';
        font-size: 14px;
    }
    a{
        font-family: 'GothamProRegular';
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    a:hover{
        color: #f63;
    }
}
.delivery-map{
    margin-top: 35px;
    position: relative;
}
.delivery--map-desc{
    max-width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 1rem;
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 12px;
    color: #336699;
}

//modal
.popup_content {
  margin: 10px;
  padding: 0 10px;
  max-width: 60%;
  border: 2px solid #444;
  background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



// section team
.ourteam{
    padding-bottom: 50px;
    padding-top: 50px;
    h2{
        text-align: center;
        margin-bottom: 30px;
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #1a1a1a;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    margin-bottom: 30px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img{
    max-width: 370px;
    max-height: 270px;
    height: 100%;
    }
}
.swiper-navigaton{
width: 100%;
text-align: center;
    margin-bottom: 30px;
// position: absolute;
// bottom: 0;
// right: 0 auto;
// color: #000;
    span{
        padding: 5px 10px;
        border: 1px solid #e6e6e6;
        border-radius: 25px;
        font-size: 14px;
        font-family: 'HelveticaNeueCyr-Medium';
    }

.swiper-button-next{
    display: inline-block;
    width: 45%;
    text-align: start;
}
.swiper-button-next:focus{
    outline: none;
}
.swiper-button-prev{
    display: inline-block;
    width: 45%;
    text-align: end;
}
.swiper-button-prev:focus{
    outline: none;
}
.swiper-button-next, .swiper-button-prev{
    background: none;
    position: inherit;
    transition: color 0.3s ease;
}
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    color: #ff6633;
}

.swiper-slide__item{
    max-height: 270px;
}
.swiper-slide__item:hover{
    .swiper-slide__item--teammember{
        transform: translateY(-220%);
    }
    .swiper-slide__item--teammember__hover{
        transform: translateY(-100%);
    }
}
.descr-active{
    
    display: block;
    .swiper-slide__item--teammember__hover{
        transform: translateY(-220%);
    }
    .swiper-slide__item--descr{
        transform: translateY(-200%);
    }
}

.swiper-slide__item--more{
    display: block;
    color: #ff6633;
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 14px;
}
.swiper-slide__item--more:hover{
    color: #6bdaff;
    text-decoration: none;
}
.swiper-slide__item--teammember--item{
    position: absolute;
    top: calc(50% - 37px);
    width: 100%;
    max-height: 270px;
    span{
        display: inline-block;
        width: 100%;
    }
        .swiper-slide__item--descr__title{
            margin-bottom: 80px;
        }

}
.swiper-slide__item--teammember__hover{
    
    transform: translateY(-100%);
    position: relative;
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 60, .1);
    a{
        display: inline-block;
    }
}

.swiper-slide__item--teammember__hover--item{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 10px;

    a{
        font-size: 14px;
        display: inline-block;
        vertical-align: super;

    }
}
.ourteam__more{
    text-align: center;
}
.swiper-slide__item--teammember__hover--item__descr{
    display: inline-block;
    text-align: left;
    width: 60%;

    .swiper-slide__item--descr__name{
        font-size: 12px;
        display: block;
        
    }
    .swiper-slide__item--descr__title{
        font-size: 10px;
        display: block;
    }
}
    .swiper-slide__item--descr__close{
        position: absolute;
        right: 30px;
        top: 12px;
        font-size: 25px;
        color: #606660;
        text-decoration: none;
    }
    .swiper-slide__item--descr__close:hover{
        text-decoration: none;
        color: #000;
    }
.swiper-slide__item--descr{
    transform: translateY(-310%);
    text-align: left;
    background-color: #f7f7f7;
    padding: 25px;
    max-width: 370px;
    height: 270px;
    transition: all 0.3s ease-in-out;
    span:nth-child(2){
        margin-bottom: 15px;
        display: block;
    }
    span:nth-child(3){
        display: block;
        font-family: 'HelveticaNeueCyr-Medium';
        font-size: 14px;
        color: #181a18;
    }
    
    ul{
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0px;
        li{
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            color: #181a18;
        }
    }
}
.swiper-slide__item--descr__name{
    font-family: 'GothamPro-Medium';
    font-size: 16px;
    color: #181a18;
}
.swiper-slide__item--descr__title{
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    color: #336699;
}
.swiper-slide__item--teammember{
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
    max-height: 270px;
    img{
        opacity: 0.15;
    }
    
}
// section result
.result{
    padding-bottom: 50px;
    text-align: center;
    h2{
        font-family: 'GothamPro-Medium';
        font-size: 30px;
        color: #181a18;
    }
    p{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 18px;
        color: #181a18;
        margin-bottom: 40px;
    }


}


.result--about{
    background: url(../../img/icons/pattern.svg) repeat-x center / cover;
    background-color: #336699;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    .result--about__member--doc{
        img{
            margin-top: 35px;
            margin-left: 20px;
        }

    }

    .result--about__member{
        border-radius: 125px;
        max-width: 170px;
        margin-bottom: 15px;
    }
    .result--about__text--title{
        font-family: 'GothamPro-Medium';
        font-size: 24px;
        color: #fff;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .result--about__text--subtitle{
        font-family: 'GothamPro-Medium';
        font-size: 16px;
        color: #99ccff;
        margin-bottom: 20px;
        display: inline-block;
    }
    .result--about__text--descr{
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        color: #fff;
        line-height: 1.5rem;
    }

}
.result--about__member--doc{
    width: 35%;
}
.result--about__text{
    width: 35%;
    position: relative;
}
.result--about__writeus{
    width: 20%;
    span{
        display: inline-block;
        width: 100%;
        font-size: 11px;
        font-family: 'HelveticaNeueCyr-Medium';
        color: #99ccff;
        text-transform: uppercase;
    }
}
.result--about__social{
    width: 10%;
        ul{
        padding-left: 0px;
        list-style: none;
        margin: 0;
        li{
            margin-top: 25px;
            text-align: center;

            span:first-child{
                background-color: #fff;
                border-radius: 25px;
                padding: 10px;
                display: inline-block;
                img{
                    width: 29px;
                    height: 29px;
                    
                }
            }
            span:last-child{
                display: block;
                font-family: 'HelveticaNeueCyr-Roman';
                color: #fff;
                font-size: 12px;
            }
        }
        li:first-child{
            margin: 0;
        }
    }
}
.result--about__text--descr::before{
    content: "";
    background: url(../../img/icons/“.png) no-repeat left /contain;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
}
.result--about__text--descr::after{
    content: "";
    background: url(../../img/icons/“2.png) no-repeat left /contain;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}




