<footer class="footer">
    <div class="container">
        <h2>
            Контакты
        </h2>
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-5">
                <div class="footer--contacts">
                    <div class="footer--contacts__address">
                        <span>Наш адрес:</span>
                        <p>г. Санкт Петербург, ул. Большая Монетная улица, 16к3 <br>
                        г. Магадан, ул. Школьный переулок, д.3</p>
                        <p>Позвоните нам по единому номеру или оставьте заявку на сайте.</p>
                    </div>
                    <div class="footer--contacts__call">
                        <a href="tel:88002506774">8 800 250 67 74</a>
                        <span>Звонок по России бесплатно</span>
                    </div>
                    <div class="footer--contacts__mail">
                        <span>e-mail:</span><a href="mailto:88002506774@mail.ru">88002506774@mail.ru</a>
                    </div>
                    <div class="footer--contacts__text">
                        <span class="footer--contacts__text--namesite">ООО «Хорошая—Экология»</span>
                        <p><span>ИНН</span>490909635800</p>
                        <p><span>ОГНИП</span>314491025900026</p>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-5 offset-xl-2 col-lg-6 col-md-7">
                <div class="footer--contacts__form form">
                    <img src="../img/nature2.png" alt="">
                    <form method="POST" action="send.php" class="price">
                        <span>Интересуют цены?</span>
                        <p>Оставьте заявку и мы вышлем <br> прайс на почту</p>
                        <input type="text" name="name" placeholder="ФИО" required>
                        <input type="email" name="email" placeholder="Эл. почта" required>
                        <input type="tel" name="phone" placeholder="Телефон" required>
                        <input type="submit" name="sendMail" value="Получить прайс на почту" class="more-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="popup1">
    <img src="../img/diplom3.jpg" alt="diplom">
</div>
<div id="thanksModal">
    <h3>СПАСИБО ЗА ЗАКАЗ</h3>
    <p>Скоро мы Вам перезвоним!</p>
</div>
<div id="callback">
    <div class="form">
        <form method="POST" action="send.php" class="callbackform">
            <span>Интересуют цены?</span>
            <p>Оставьте заявку и мы вышлем <br> прайс на почту</p>
            <input type="text" name="name" placeholder="ФИО" required>
            <input type="email" name="email" placeholder="Эл. почта" required>
            <input type="tel" name="phone" placeholder="Телефон" required>
            <input type="submit" name="sendMail" value="Получить прайс на почту" class="more-btn">
        </form>
    </div>
</div>


<script src='js/jquery-3.3.1.min.js'></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/jquery.popupoverlay.min.js"></script>
<script src="js/tubslet.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/imask.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>