<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hebbi - WebDev</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <header class="header">
        <span class="logo">By<a href="#!">Hebbi</a></span>    
        <input id="burger" type="checkbox" />

        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        
        <nav>
          
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="ourworks.html">Our works</a></li>
          </ul>  
        </nav>
    </header>

