.more-btn{
    color: #fff;
    background-color: #ff6633;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 14px;
}