@media (max-width: 1332px){
    .services--form img{
        width: 100%;
        max-width: 570px;
        right: 50px;
        top: -20px;
    }
}
// @media (min-width: 992px) and (max-width: 1200px){
//     .swiper-slide__item--descr ul{
//         line-height: 1rem;
//     }
// }
@media (max-width: 1200px){
    .nav{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100%;
        width: 320px;
        padding: 60px 0 40px;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(#000, 0.1);
        transition: all 0.25s ease;
        transform: translateX(100%);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &.is-active {
            transform: translateX(0);
        }
        ul {
            li {
                float: none;
            }
        }
    }
    .burger {
        display: block;
    }
    .develop-doc{
        padding-top: 180px;
    }

    .header {
        &__infomenu--call {
            margin-right: 70px;
        }
    }
    .develop-doc__books--circle{
        top: 100px;
        right: 160px;
    }
    .wehelp .tab-item{
        width: 45%;
    }
    .whytrust-list__item {
        padding-right: 5px;
        margin-right: 30px;
    }
    .whytrust-list__item .whytrust-list__item--title{
        font-size: 13px;
    }
    .whytrust-list__item::after{
        content: "- - - - - - - - - - - - -";
        right: -20px;
    }
    .whytrust-list__item p{
        font-size: 12px;
    }
    .laboratory{
        img{
            max-width: 400px;
            width: 47%;
        }

    }
    .stages{
        .tab-item{
            margin: 0px 20px;
        }
    }
    .underkey{
        padding-bottom: 30px;
        img {
            margin: 0px;
            width: 100%;
        }
        ul{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            li{
                width: 33%;
                // .underkey--list{

                // }
                .underkey--descr{
                    width: 55%;
                }
            }
        }

    }
    .services{
        padding-top: 20px;
        h2{
            margin-bottom: 40px;
        }
    }

    .services--text__item--descr{
        margin-left: 0px;
    }
    
    .delivery-map{
        margin-top: 70px;
        img{
            width: 100%;
        }
    }
    .delivery--map-desc{
        max-width: 140px;
        bottom: -20px;
    }
    .result--about .result--about__member--doc{
        img{
            width: 100%;
        }
    }
    .result--about__social ul li{
        margin-top: 10px;
    }
    .result--about__social ul li span:first-child{
        padding: 7px;
    }
}
@media (max-width: 991px){
    .forwho__block:last-child{
        margin-top: 20px;
    }
    .header__infomenu--left__text{
        display: none;
    }
    .header__infomenu--right p{
        display: none;
    }
    
    .develop-doc {
        text-align: center;
        h1 {
            max-width: 100%;
        }
    }
    .develop-doc{
        padding-top: 150px;
    }
    .develop-doc__books--circle{
        top: 140px;
        right: 250px;
        width: 140px;
        height: 140px;
        border-radius: 110px;
    }
    .develop-doc__books--circle::before{
        left: -15px;
        top: -15px;
        width: 170px;
        height: 170px;
    }
    .develop-doc__books--circle img{
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-left: 25px;
    }
    .develop-doc__books--circle span{
        top: 40px;
        font-size: 20px;
        line-height: 1.5rem;
    }
    .wehelp .tab-item span{
        width: 60%;
        vertical-align: middle;
    }
    .whytrust-list__item::after{
        content: "- - - - - - -";
        right: -25px;
    }
    .wehelp__more{
        justify-content: center;
    }
    .laboratory{
        h2{
            font-size: 25px;
        }
    }
    .stages{
        .horizontal{
            li{
                span{
                    margin: 0;
                    width: 100%;
                }
            }
            .active{
                display: inline-block;
                padding-right: 15px;
            }
        }
    }
    .underkey{
        ul{
            li{
                text-align: center;
                .underkey--list{
                    margin-bottom: 15px;
                    margin-left: 0px;
                }
                .underkey--descr{
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }
        }

    }
    .services{
        h2{
            margin-bottom: 40px;
        }
    }
    .services--form{
        max-width: 370px;
        margin: 0 auto;
        
        img{
            top: -46px;
            left: 0;
            max-width: 100%;
        }
    }
    .services--form input[type=submit]{
        max-width: 100%;
    }
    .services--text__item--img{
        margin-bottom: 10px;
    }
    .services--text{
        display: flex;
        margin: 0;
    }
    .services--text__item{
        margin: 0;
        width: 33%;
        text-align: center;
    }
    .services--text__item--descr{
        margin-left: 0px;
        width: 100%;
        br{
            display: none;
        }
        span{
            margin-bottom: 5px;
            display: inline-block;
        }
    }
    .delivery--letter__open {
        right: calc(50% - 135px);
        left: calc(50% - 135px);
    }
    .delivery-map{
        margin-top: 0px;
    }
    .result--about__member--doc{
        width: 100%;
        display: inline-block;
        max-width: 200px;
        img{
            
        }
    }
    .result--about__text{
        width: 45%;
        display: inline-block;
        .result--about__text--title{
            font-size: 20px;
        }
        .result--about__text--subtitle{
            font-size: 14px;
        }
        .result--about__text--descr{
            font-size: 13px;
        }
    }
    .result--about__writeus{
        width: 25%;
        display: inline-block;
        .result--about__member{
            margin-top: -20px;
            margin-bottom: 0;
        }
    }
    .result--about__social{
        width: 15%;
        display: inline-block;
    }
}

@media (max-width: 767px){
    .develop-doc h1 {
        font-size: 35px;
        span{
            font-size: 25px;
        }
    }
    .header__infomenu--call a:first-child {
        display: block;
        font-size: 20px;
    }
    .header__infomenu--call a:last-child {
        font-size: 12px;
    }
    .develop-doc{
        padding-bottom: 40px;
        padding-top: 120px;
    }
    .develop-doc__books--circle1{
        top: 80px;
        left: 170px;
    }
    .header{
        padding-top: 15px;
    }
    .wehelp .tab-item{
        width: 100%;
        text-align: center;
    }
    .wehelp .horizontal{
        flex-direction: column;
        border: none;
        padding-bottom: 0px;
        li{
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #bfbebe;
        }
    }
    .wehelp .tab-item {
        text-align: center;
        img{
            display: inline-block;
        }
        span{
            margin-top: 5px;
            width: 100%;
            text-align: center;
            margin-left: 0px;
        }
    }
    .forwho{
        padding-bottom: 40px;
        padding-top: 30px;
        h2{
            font-size: 27px;
            margin-bottom: 15px;
        }
    }
    .wehelp{
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .whytrust{
        padding-top: 30px;
        padding-bottom: 5px;
        h2{
            font-size: 20px;
        }
    }
    .whytrust-list__item{
        padding: 0px;
    }
    .whytrust h2{
        margin-bottom: 30px;
    }
    .whytrust-list{
        flex-direction: column;
        text-align: center;
    }
    .whytrust-list__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .whytrust-list__item img{
        margin-bottom: 10px;
    }
    .whytrust-list__item--img{
        left: 245px;
    }
    .whytrust-list__item span{
        position: initial;
    }
    .whytrust-list__item::after{
        display: none;
    }
    .whytrust-list__item--img::after{
        display: none;
    }
    .develop-doc__books--circle{
        top: 110px;
        right: 170px;
        width: 120px;
        height: 120px;
        border-radius: 110px;
    }
    .develop-doc__books--circle::before{
        left: -15px;
        top: -15px;
        width: 150px;
        height: 150px;
    }
    .develop-doc__books--circle img{
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-left: 25px;
    }
    .develop-doc__books--circle span{
        top: 40px;
        left: 5px;
        font-size: 14px;
        line-height: 1rem;
    }

    .laboratory{
        img{
            text-align: center;
            width: 100%;
            max-width: 100%;
        }

    }
    .wehelp{ 
        h2{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }

    .laboratory{
        h2{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }
    .stages__tabs--img{
        margin-left: calc(50% - 100px);
    }
    .stages--bg{
        padding-top: 30px;
    }
    .stages {
        h2{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .horizontal{
            text-align: center;
            border-bottom: 1px solid #fff;
            padding-bottom: 15px;
            
            .active{
                margin-bottom: 10px;
                span{
                    margin-top: 10px;
                }
            }
        }
        .tabs{
            display: block;
        }
        .tab-item{
            text-align: center;
        }
    }
    .underkey{
        h2{
            font-size: 20px;
        
        }
        p{
            font-size: 15px;
        }
        ul{
            display: block;
            li{
                width: 100%;
                display: block;
                .underkey--list{
                    display: block;
                    text-align: center;
                    margin-left: calc(50% - 25px);
                }
                .underkey--descr{
                    display: block;
                    max-width: 100%;
                    margin: 0;
                }
            }
        }

    }
    .services{
        padding-bottom: 40px;
    }
    .services--text{
        display: block;
        margin-bottom: 35px;
    }
    .services--text__item{
        width: 100%;
    }
    .delivery{
        padding-top: 40px;
    }
    
    .result--about{
        display: block;
        padding-bottom: 25px;
    }
    .result--about .result--about__member--doc img{
        width: 100%;
    }
    .result--about__text{
        width: 100%;
        .result--about__text--title{
     
        }
        .result--about__text--subtitle{
     
        }
        .result--about__text--descr{
            padding: 0px 40px;
        }
    }
    .result--about__text--descr::before{
        left: 25px;
    }
    .result--about__text--descr::after{
        right: 25px;
    }
    .result--about__writeus{
        display: block;
        width: 100%;

    }
    .result--about__writeus .result--about__member{
        margin: 0;
    }
    .result--about__social{
        display: block;
        width: 100%;
        ul{
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            li:first-child{
                margin-top: 10px;
            }
        }
    }




}

@media (max-width: 575px){
    .logo img{
        max-width: 120px;
    }
    .develop-doc{
        padding-bottom: 10px;
        padding-top: 90px;
    }
    .develop-doc h1 {
        font-size: 25px;
        text-align: center;
        span{
            font-size: 15px;
            text-align: center;
        }
    }
    .develop-doc__books--circle{
        left: 40%;
        top: 25%;
    }
    .forwho__block--title{
        h3{
            font-size: 18px;

        }
    }
    .header__infomenu--right .header__infomenu--call{
        display: none;
    }

    .forwho__block{
        img{
            width: 50%;
        }
    }
    .develop-doc h1 span::after{
        display: none;
    }
    .header__navmenu ul{
        max-height: 255px;
    }
    .header__navmenu .header__infomenu--call{
        margin-bottom: 195px;
        margin-left: 20px;
    }


}
@media (max-width: 480px){
    .logo{
        img{
            max-width: 100px;
        }
    }
    .header__infomenu--call__link{
        font-size: 15px;
    }
    .header__infomenu--call__callback{
        font-size: 10px;
    }
    .header__infomenu--right{
        margin: 0px;
    }
    .develop-doc__books--circle{
        width: 95px;
        height: 95px;
        img{
            width: 50px;
            height: 50px;
            margin-top: 25px;
            margin-left: 15px;   
        }
        span{
            top: 30px;
            left: 5px;
            font-size: 14px;
            line-height: 1rem;
        }
    }
    .develop-doc__books--circle::before{
        left: -13px;
        top: -13px;
        width: 120px;
        height: 120px;
    }
    .wehelp__more .more-btn{
        display: block;
    }
    .wehelp .tab-item{
        padding: 10px;
    }
    .more span{
        text-align: center;
        display: block;
        margin-top: 5px;
    }
    .stages .horizontal{
        li{
        
            span{
                margin-top: 15px;
                width: 100%;
                padding: 5px;
                margin: 0px;
            }
        }
    }
    .services--form img{
        display: none;
    }
    .delivery--map-desc{
        bottom: -50px;
    }
}
@media (max-width: 414px){

}
@media (max-width: 360px){
    .develop-doc__books--circle1{
        width: 100px;
        height: 100px;
        left: 120px;
        top: 60px;
    }
    .develop-doc__books--circle2{
        width: 80px;
        height: 80px;
        top: 10px;
        left: 10px;
    }
    .develop-doc__books--circle2{
        img{
            width: 50px;
            margin-top: 0px;
            margin-left: 10px;
        }
    }
    .develop-doc__books--circle2{
        span{
            top: 10px;
            font-size: 12px;
        }
    }
}

@media (max-width: 320px){
    .develop-doc__books--circle{
        left: 35%;
        top: 20%;
    }
}
@media (min-width: 575px){
    .header__navmenu .header__infomenu--call{
        display: none;
    }
}